{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aditya Portfolio</title>
    <link rel="stylesheet" href="{% static 'folio/style.css' %}" />
    <link rel="stylesheet" href="{% static 'folio/utility.css' %}" />
    {% comment %}
    <link rel="stylesheet" href="{% static 'folio/plugin.css' %}" />
    {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <!-- main home into div  -->
    <div class="main-home-intro background-overlay">
      <div class="hero-content inline align-centre justify-centre">
        <h1 class="text-center">I am Aditya Singh</h1>
        <p class="hero-child text-center">I'M A CREATIVE WEB DEVELOPER</p>
        <p class="text-center">
          I STAND ON A SWEET SPOT WHERE DESIGN & CODE INTERSECTS.
        </p>
      </div>
      <div class="arrow-wrapper home-arrow-down">
        <a href="">
          <i class="arrow"></i>
          <i class="arrow"> </i>
        </a>
      </div>
    </div>
    <!-- navbar  -->
    <nav class="navbar">
      <div class="content">
        <div class="logo">
          <a href="#">Aditya </a>
        </div>
        <ul class="menu-list">
          <div class="icon cancel-btn">
            <i class="fas fa-times"></i>
          </div>
          <li><a href="">home</a></li>
          <li><a href="">intro</a></li>
          <li><a href="">about </a></li>
          <li><a href="">services</a></li>
          <li><a href="">team</a></li>
          <li><a href="">history</a></li>
          <li><a href="">works </a></li>
          <li><a href="">contact</a></li>
        </ul>
        <div class="icon menu-btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>

    <!-- our characterstics container  -->
    <section class="developing-character-container">
      <div class="welcome-heading-div">
        <h2 class="text-center">HELLO & WELCOME to our world</h2>
        <p class="text-center">
          <span class="explore-tab">EXPLORE OUR WORLD</span>
        </p>
      </div>
      <div class="our-properties-container">
        <div class="service-col1">
          <div class="main-service-wrapper">
            <div class="icon-wrap">
              <i class="fa fa-calendar"></i>
            </div>
            <h3>WE MEET DEADLINES</h3>
            <div class="main-service-child inline">
              <p>
                Your deadline is the most important value for us. Our job is to
                make sure the job is done perfectly before the deadline.
              </p>
            </div>
          </div>
          <div class="main-service-wrapper">
            <div class="icon-wrap">
              <i class="fa fa-comments"></i>
            </div>
            <h3>COMMUNICATION IS KEY</h3>
            <div class="main-service-child">
              <p>
                Our team is available to check on your questions and take in
                feedback as soon as possibly.
              </p>
            </div>
          </div>
        </div>
        <div class="service-col1 diamnd-container-wrapper">
          <div class="dimand-container">
            <div class="sub-dimand-container">
              <p>Aditya</p>
            </div>
          </div>
        </div>
        <div class="service-col1">
          <div class="main-service-wrapper main-service-wrapper-2">
            <div class="icon-wrap left-icon-wrap">
              <i class="fa fa-check"></i>
            </div>
            <h3 class="sub-service-heading">QUALITY CONTROL</h3>
            <div class="main-service-child inline">
              <p class="serice-para">
                We test out everything to make sure that your project is fully
                functional, cross–browser compatible and meets your
                specifications.
              </p>
            </div>
          </div>
          <div class="main-service-wrapper main-service-wrapper-2">
            <div class="icon-wrap left-icon-wrap">
              <i class="fa fa-list"></i>
            </div>
            <h3 class="serice-para">PIXEL PERFECT</h3>
            <div class="main-service-child">
              <p class="serice-para">
                We develop meaningful digital products and experiences that
                matter with design thinking and creative craftsmanship.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- parallax container  -->
    <section class="parallax-sextion">
      <!-- parallax div -->
      <div class="parallax-div background-dull">
        <p>
          We make Our <span class="color-change">work look good</span> & have
          experience in the creation of brand identities for
          <span class="color-change"> print & web, </span>
          with a difference.
        </p>
      </div>
    </section>
    <!-- types of work done by us   -->
    <section class="developing-character-container">
      <div class="welcome-heading-div">
        <h2 class="text-center">ABOUT ADITYA WORK</h2>
        <p class="text-center">
          <span class="explore-tab"
            >OUR GOAL IS TO BUILD PRODUCTS AND SERVICES</span
          >
        </p>
      </div>
      <div class="work-type-container">
        <div class="our-work-container">
          <div class="icon-father-container">
            <i class="fa fa-laptop"></i>
          </div>
          <h3>WEB DESIGN</h3>
          <p>
            Our approach to website design is to create a website that
            strengthens your company’s brand while ensuring ease of use and
            simplicity for your audience
          </p>
        </div>
        <div class="our-work-container">
          <div class="icon-father-container">
            <i class="fa fa-code"></i>
          </div>
          <h3>WEB DEVELOPMENT</h3>
          <p>
            The web development process involves taking the graphical elements
            defined in the design process and coding them into a custom theme.
          </p>
        </div>
        <div class="our-work-container">
          <div class="icon-father-container">
            <i class="fa fa-search"></i>
          </div>
          <h3>SEO OPTIMIZATION</h3>
          <p>
            Go farther than you thought you could. With us you can go farther
            then ever before. Be in top results of searches.
          </p>
        </div>
        <div class="our-work-container">
          <div class="icon-father-container">
            <i class="fa fa-twitter"></i>
          </div>
          <h3>SOCIAL MEDIA</h3>
          <p>
            It's important to keep your brand consistent and recognizable across
            all platforms
          </p>
        </div>
      </div>
    </section>

    <!--  our progres section   -->
    <section class="progress-section-main-wrapper">
      <div class="progress-section-container">
        <div class="new-btn-wrap">
          <button class="box">Hire Me Now</button>
        </div>
        <div></div>
      </div>
    </section>
    <!-- our team card section -->
    <section class="card-section-wrapper">
      <div class="welcome-heading-div">
        <h2 class="text-center">MEET MY TEAM</h2>
        <p class="text-center">
          <span class="explore-tab"
            >THIS IS THE TEAM THAT IS WORKING WITH ME</span
          >
        </p>
      </div>
      <div class="cards-grid-section">
        <div class="team-member">
          <div class="flipper">
            <div class="team-member-front">
              <div class="team-member-thumb">
                <img
                  src="{% static 'folio/assest/images/card1.jpg' %}"
                  class="img-res"
                  alt="website template image"
                />
              </div>
              <p class="team-member-front-name">DIANA JOHNSON</p>
            </div>
            <div class="team-member-back">
              <div class="team-member-info">
                <h3 class="team-member-back-name">DIANA JOHNSON</h3>
                <p class="team-member-back-position">Web Designer</p>
                <p class="team-member-back-info">
                  Curabitur nulla odio bibendum sit amet facilisis sed lobortis
                  id, just Donec ollic itudin facil isis nulla. Donec eget
                  ligula.
                </p>
                <div class="social-icons small">
                  <a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-facebook"></i></a
                  ><a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-twitter"></i></a
                  ><a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-linkedin"></i></a
                  ><a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-dribbble"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team-member">
          <div class="flipper">
            <div class="team-member-front">
              <div class="team-member-thumb">
                <img
                  src="{% static 'folio/assest/images/card2.jpg' %}"
                  class="img-res"
                  alt="website template image"
                />
              </div>
              <p class="team-member-front-name">Adam Henry</p>
            </div>
            <div class="team-member-back">
              <div class="team-member-info">
                <h3 class="team-member-back-name">Adam Henry</h3>
                <p class="team-member-back-position">Web Designer</p>
                <p class="team-member-back-info">
                  Curabitur nulla odio bibendum sit amet facilisis sed lobortis
                  id, just Donec ollic itudin facil isis nulla. Donec eget
                  ligula.
                </p>
                <div class="social-icons small">
                  <a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-facebook"></i></a
                  ><a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-twitter"></i></a
                  ><a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-linkedin"></i></a
                  ><a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-dribbble"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team-member">
          <div class="flipper">
            <div class="team-member-front">
              <div class="team-member-thumb">
                <img
                  src="{% static 'folio/assest/images/card3.jpg' %}"
                  class="img-res"
                  alt="website template image"
                />
              </div>
              <p class="team-member-front-name">ROBERT DOE</p>
            </div>
            <div class="team-member-back">
              <div class="team-member-info">
                <h3 class="team-member-back-name">ROBERT DOE</h3>
                <p class="team-member-back-position">Mobile APP Developer</p>
                <p class="team-member-back-info">
                  Curabitur nulla odio bibendum sit amet facilisis sed lobortis
                  id, just Donec ollic itudin facil isis nulla. Donec eget
                  ligula.
                </p>
                <div class="social-icons small">
                  <a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-facebook"></i></a
                  ><a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-twitter"></i></a
                  ><a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-linkedin"></i></a
                  ><a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-dribbble"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="team-member">
          <div class="flipper">
            <div class="team-member-front">
              <div class="team-member-thumb">
                <img
                  src="{% static 'folio/assest/images/card4.jpg' %}"
                  class="img-res"
                  alt="website template image"
                />
              </div>
              <p class="team-member-front-name">JULIA BROWN</p>
            </div>
            <div class="team-member-back">
              <div class="team-member-info">
                <h3 class="team-member-back-name">JULIA BROWN</h3>
                <p class="team-member-back-position">Seo Specialist</p>
                <p class="team-member-back-info">
                  Curabitur nulla odio bibendum sit amet facilisis sed lobortis
                  id, just Donec ollic itudin facil isis nulla. Donec eget
                  ligula.
                </p>
                <div class="social-icons small">
                  <a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-facebook"></i></a
                  ><a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-twitter"></i></a
                  ><a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-linkedin"></i></a
                  ><a
                    href="https://www.free-css.com/free-css-templates"
                    class="rectangle"
                    ><i class="fa fa-dribbble"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- our form section  -->
    <section class="contact-from-section">
      <div class="welcome-heading-div">
        <h2 class="text-center">CONTACT ADITYA</h2>
        <p class="text-center">
          <span class="explore-tab">HERE I AM</span>
        </p>
      </div>
      <form
      action="/"
      name="myForm "
      method="post"
      onsubmit="return validateForm()"
      >
      {% csrf_token %}
        <div class="form-wrapper">
          <div>
            <input
              id="name"
              class="our-form-input"
              type="text"
              name="fname"
              placeholder="Name "
              required
            />
            {% comment %} <p class="form-error-message">*this is an error</p> {% endcomment %}
          </div>
          <div>
            <input
              id="email"
              class="our-form-input"
              name="femail"
              type="email"
              placeholder="Email "
              required
            />
            {% comment %} <p class="form-error-message">*this is an error</p> {% endcomment %}
          </div>
          <div>
            <input
              id="phone"
              class="our-form-input"
              type="phone"
              placeholder="Contact No."
              name="fphone"
              required
            />
            {% comment %} <p class="form-error-message">*this is an error</p> {% endcomment %}
          </div>
        </div>
        <div class="your-message-section">
          <textarea
            class="our-form-input message-section"
            placeholder="Your Message "
            name="msg"
            id="message"
            cols="130"
            rows="7"
            required
          ></textarea>
        </div>
        <div class="button-wrap">
          <input type="submit" class="submit-button" value="submit" />
        </div>
      </form>
    </section>

    <!-- our footer section  -->
    <footer class="footer-main-wrapper">
      <div class="footer-inner-container">
        <a href="" class="icon-rectangle">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="" class="icon-rectangle">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="" class="icon-rectangle">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="" class="icon-rectangle">
          <i class="fa fa-youtube-play"></i>
        </a>
        <a href="" class="icon-rectangle">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="" class="icon-rectangle">
          <i class="fa fa-dribbble"></i>
        </a>
      </div>
    </footer>
    <!-- our java script section -->
    <script>
      const form = document.getElementById("form");
      const name = document.getElementById("name");
      const email = document.getElementById("email");
      const phone = document.getElementById("phone");
      // add  event
      form.addEventListener("submit", (event) => {
        event.preventDefault();
        validate();
      });
      //defin the validate function
      const validate = () => {
        const formval = form.value.trim();
        const nameval = name.value.trim();
        const phoneval = phone.value.trim();
        const emailVal = email.value.trim();
        // validate username
        if (nameval === " ") {
          setErrormsg(name, "name cannot be blank ");
        } else if (nameval.length <= 2) {
          setErrormsg(name, "name min 3 char  ");
        } else {
          setSuccessMsg(name);
        }
        // validate email
        if (emailVal === " ") {
          setErrormsg(email, "email cannot be blank ");
        } else if (!isEmail(emailVal)) {
          setErrormsg(email, "Not a valid Email  ");
        } else {
          setSuccessMsg(email);
        }
      };
    </script>
    <script>
      const body = document.querySelector("body");
      const navbar = document.querySelector(".navbar");
      const menuBtn = document.querySelector(".menu-btn");
      const cancelBtn = document.querySelector(".cancel-btn");
      menuBtn.onclick = () => {
        navbar.classList.add("show");
        menuBtn.classList.add("hide");
        body.classList.add("disabled");
      };
      cancelBtn.onclick = () => {
        body.classList.remove("disabled");
        navbar.classList.remove("show");
        menuBtn.classList.remove("hide");
      };
      window.onscroll = () => {
        this.scrollY > 20
          ? navbar.classList.add("sticky")
          : navbar.classList.remove("sticky");
      };
    </script>
    <script src="{% static 'folio/index.js' %}"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
